<h3 class="ms-5 p-3 text-center">Modifier appareil</h3>
<div class="p-5">
  <form class="form" name="registerForm" (ngSubmit) = "onSubmit()">
    <input type="text" class="form-control w-50 " placeholder="Label"  [(ngModel)] = "appareils.name" name="label">
    <input type="text" class="form-control w-50 mt-3" placeholder="Description" [(ngModel)] = "appareils.description" name="description">
    <input type="number" min="0" max="1" class="form-control w-50 mt-3" placeholder="State" [(ngModel)] = "appareils.state" name="state">
    <select class="form-select w-50 mt-3" [(ngModel)] = "appareils.categories" name="categories">
      <option value="" disabled selected>Select a category</option>
      <option *ngFor="let category of categorie" [value]="category.id">{{ category.id }} - {{category.label}}</option>
    </select>
    <button type="submit" class="btn btn-outline-success mt-3">Modifier</button>
  </form>

</div>
